@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Dongle", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-size: 25px;
}

#container {
  display: flex;
  width: 95vh;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  border-radius: 50px;
  flex: 1;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 1s;
}

@media (max-width: 480px) {
  #container {
    width: 100vw;
  }
  .panel:nth-of-type(5),
  .panel:nth-of-type(6) {
    display: none;
  }
}
